<main>
    <section>
        {{#with newsBlock}}
        {{> shoppost}}
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with goodsBlock}}

        <nav class="nav nav-tabs mb-5">
            <ul class="d-flex list-unstyled">
                {{#each tabs}}
                <li>
                    <div class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}">{{text}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </nav>

        <div class="row g-3">
            {{#each cards}}

            <div class="col-4">
                <div class="card" style="height: 250px;">
                    <img src="{{image}}" alt="{{title}}">
                    <div class="card-body">
                        <h6 class="card-title">
                            {{title}}
                            {{#if isHot}} <div class="badge text-bg-warning rounded-pill text-uppercase">Hot</div>
                            {{/if}}
                            {{#if idNew}} <div class="badge text-bg-primary rounded-pill">New</div> {{/if}}
                        </h6>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>

        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with subscribe}}
        <div class="alert bg-dark text-light row">
            <div class="col-6">
                <h2>{{header}}</h2>
                <p>{{description}}</p>
            </div>
            <div class="col-6 text-end">
                {{#each buttons}}
                <a rel="{{type}}" class="btn btn-primary me-1 mt-4" href="{{link}}">{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{> shopaction}}
    </section>

    <hr class="my-5">

</main>