<main>
    {{#with heading}}
    <div class="card mb-5">
        <div class="card-body">
            {{#with main}}
            <div class="card mb-4">
                <div class="card-body">
                    <h1>{{title}}</h1>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <div class="row col-3 m-2">
                        <button class="btn btn-primary mb-3">{{solid}}</button>
                        <button class="btn btn-outline-primary">{{outline}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}

            {{#with second}}
            <div class="card mb-4">
                <div class="card-body">
                    <h2>{{title}}</h2>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <div class="row col-3 m-2">
                        <button class="btn btn-secondary mb-3">{{solid}}</button>
                        <button class="btn btn-outline-secondary">{{outline}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}

            {{#with subblock}}
            <div class="card">
                <div class="card-body">
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <div class="row col-3 m-2">
                        <button class="btn btn-dark mb-3">{{solid}}</button>
                        <button class="btn btn-outline-dark">{{outline}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    {{#with nested_display}}
    <div class="card mb-5">
        <div class="card-body">
            <div class="display-1 mb-4">{{title}}</div>

            {{#with children_display}}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="display-4">{{title}}</div>
                    <p>{{text}}</p>
                    {{#with button}}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/with}}
                </div>
            </div>
            {{/with}}

            <h6>{{header_text}}</h6>
            {{#with button}}
            <button class="btn btn-info text-light">{{text}}</button>
            {{/with}}
        </div>
    </div>
    {{/with}}

    {{#with paragraph}}
    <div class="card">
        <div class="card-body">
            <p class="text-uppercase">{{title}}</p>
            <p class="text-lowercase">{{text}}</p>

            {{#with button}}
            <a href="{{url}}" target="_blank" class="btn btn-link">{{text}}</a>
            {{/with}}

            <div class="card mt-4">
                <div class="card-body">
                    <ul>
                        {{#each list_name}}
                        <li>
                            <a href="{{url}}" target="_blank" class="btn btn-link">{{text}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</main>